html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
input:focus,
input:focus-visible,
input:focus-within,
input:active,
input:visited {
  background: transparent;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
