.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
